# Base requirements
transformers[torch,sentencepiece,vision,optuna,scikit-learn,onnxruntime]
datasets[audio]
matplotlib
ipywidgets
# Chapter 2 - Classification
umap-learn
# Chapter 3 - Anatomy
bertviz
# Chapter 4 - NER
seqeval
# Chapter 6 - Summarization
nltk
sacrebleu
rouge-score
py7zr # Needed for samsum dataset
# Chapter 9 - Few labels
nlpaug
scikit-multilearn
# Chapter 10 - Pretraining
psutil
accelerate
